/*Home.css*/
.container{
  height: 100%;
  display: flex;
  justify-content: center;
}

.loader{
  width: 100vw;
  /* 뷰포트 크기에서 가로100, 세로100 */
  height:100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 300;
}

.movies{
  display: grid;
  grid-template-columns: repeat(2,minmax(400px,1fr));

  /* 2열로 repeat 반복 . minmax:최소크기 400,1fr :최대크기는 1대1크기 */
  grid-gap:100px;
  /* 그리드 사이는 100px로 해라 */

  padding:50px;
  width:80%;
  padding-top: 70px;
}

@media screen and (max-width:767px) { /* 0 ~ 767 */
  .movies{
    grid-template-columns: 1fr;
/* 모바일 크기로 바뀌면 1열로 바뀌어라 */
    width:100%;
  }  
}